{% extends "index.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    {{ page.date | date(format="%Y-%m-%d") }}
    <a href="#comment" style="position: absolute;right: 15px;">To Comments ↓</a>
  </span>
  {{ page.content | safe }}
</div>
<div class="comment" id="comment">
  <script src="https://utteranc.es/client.js" repo="pbzweihander/pbzweihander.github.io" issue-term="pathname" theme="github-light"
    crossorigin="anonymous" async>
    </script>
</div>
{% endblock content %}
